/*
Colors used:
Hex#8140A2
Hex#d75e60
Hex#4d5bee
*/
* {
  box-sizing: border-box;
}

/*
Fonts and headings
*/

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #767676;
  text-align: left;
  padding: 25px;
}

.bold {
  font-weight: 700;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 2.75em;
  font-weight: 500;
  text-align: center;
  color: #000;
  display: grid;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
  color: #000;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  text-align: left;
  color: #000;
  border-bottom: 3px solid #d3d3d3;
  margin-top: 50px;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
  text-align: left;
  color: #000;
}

#skillstools h3 {
  padding-left: 20px;
  border-bottom: 3px;
  color: #000;
}

footer { color: #fff; }

/*
buttons and links
*/
a {
  color: #1751d9;
  text-decoration: none;
}

a:visited {
  color: #551a8b;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #1751d9;
  text-decoration: underline;
}

a:active {
  color: #333;
  text-decoration: underline;
}

.button {
  display: inline-block;
  margin: 0 auto;
  background-color: #006994;
  color: #fff !important;
  font-weight: 400;
  padding: 15px 30px;
  border-radius: 50px;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  color: inherit;
  background-color: #006994;
  opacity: 0.5;
  text-decoration: none;
}

.button:active {
  background-color: #006994;
  color: #fff;
  opacity: 0.8;
}

.button-skype {
  display: inline-block;
  color: #fff !important;
  padding: 15px 30px;
  border-radius: 50px;
  border: 2px;
  background-color: #006994;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button-skype:hover {
  background-color: #006994;
  opacity: 0.5;
  color: #fff !important;
}

.button-skype:active {
  background-color: #006994;
  color: #0000;
}

/*
layout styling-general
*/
img {
  width: 100%;
}

.logo {
  max-height: 100px;
  max-width: 100px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  -webkit-box-shadow: 0 7px 11px 0 rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0 7px 11px 0 rgba(255, 255, 255, 0.75);
  box-shadow: 0 7px 11px 0 rgba(255, 255, 255, 0.75);
}

.profilepic {
  width: 25%;
  float: left;
  display: inline-block;
  padding: 25px;
}

svg.animated {
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    color: #edc655;
  }

  50% {
    color: #fcffad;
  }

  100% {
    color: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from { transform: translate(0, 50px); }
  to { transform: translate(200px, 50px); }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from { transform: translate(446px, 48px); }
  to { transform: translate(100px, 48px); }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.problemstatement {
  max-width: 150px;
  max-height: 200px;
}

.userresearch {
  max-width: 400px;
  max-height: 300px;
}

.raziayoungmom {
  max-width: 800px;
  max-height: 800px;
}

.linaworkingmom {
  max-width: 800px;
  max-height: 800px;
}

.raziauserjourney {
  max-width: 900px;
  max-height: 900px;
}

.linauserjourney {
  max-width: 900px;
  max-height: 900px;
}

.sitemap {
  max-width: 900px;
  max-height: 900px;
}

.Layer_1 {
  align-items: center;
}

.askamompagecollage {
  max-width: 80%;
}

header {
  background-color: #fff;
  margin: auto;
  padding: 10px 5px;
  border-bottom: 3px solid #4a4a4a;
}

/* Layout styling */

.container {
  padding: 10px 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.container-filled {
  background: #20b2aa;
  padding: 20px;
}

header > .container > img {
  margin: 0;
  padding: 0;
  border: 0;
  display: inline;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #464159;
}

#work .row:last-child {
  border-bottom: none;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px;
  color: #4a4a4a;
}

#hero {
  margin-top: 90px;
  display: inline-block;
  position: sticky;
  width: 100%;
  text-align: center;
}

/* Centers text */

#aboutcontact {
  margin: 350px;
}

#askamombutton {
  align-items: center;
}

#skillstools {
  padding-bottom: 40px;
}

#resume {
  padding: 20px 0;
}

#animation {
  padding-top: 200px;
}

header {
  background-color: #20b2aa;
  padding: 10px 0;
  margin: auto;
  width: 100%;
  -webkit-box-shadow: 0 1px 2px 0 rgba(46, 48, 46, 0.5);
  -moz-box-shadow: 0 1px 2px 0 rgba(46, 48, 46, 0.5);
  box-shadow: 0 1px 2px 0 rgba(46, 48, 46, 0.5);
}

header > a {
  line-height: 0 !important;
}

.container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.container-filled {
  background: #f4f4f4;
  padding: 20px;
}

nav {
  width: auto;
  float: right;
  position: absolute;
  top: 0%;
  right: 20px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

nav > ul > li > a:visited {
  color: #551a8b;
}

nav > ul > li > a:hover {
  opacity: 0.8;
  text-decoration: underline;
  transition: 0.2s;
}

nav > ul > li > a:active {
  opacity: 0.8;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  background-color: #148e797d;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

footer {
  background-color: #20b2aa;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  -webkit-box-shadow: 0 1px 2px 0 rgba(46, 48, 46, 0.5);
  -moz-box-shadow: 0 1px 2px 0 rgba(46, 48, 46, 0.5);
  box-shadow: 0 1px 2px 0 rgba(46, 48, 46, 0.5);
}

#aboutcontact {
  margin-top: 580px;
  margin-left: auto;
}

#indexcontact {
  margin-top: 450px;
  margin-left: auto;
}

#aboutcontact h2 {
  color: #fff;
}

#askamomcontact {
  margin-top: 80px;
  margin-left: auto;
}

#navtoggle { z-index: 10; }

footer > .container > p > a {
  color: #fff;
  font-weight: 700;
}

footer > .container > p > a:hover {
  opacity: 0.8;
  text-decoration: underline;
  transition: 0.2s;
}

footer > .container > p > a:active {
  opacity: 0.8;
}

footer > .container > h2 {
  color: #fff;
}

/*
About Me- about.html
*/
body > p {
  width: 75%;
  float: right;
  display: inline-block;
  padding: 25px;
}

/* ==============================
  Medium devices (640px and larger)
  ================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    position: absolute;
    top: 20px;
    right: 0;
    }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li { display: inline-block; }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    padding: 10px;
    border-top: none;
  }

  body {
    font-size: 18px;
  }

  #hero span {
    display: block;
    position: static;
  }


  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 40%;
  }

  .col-md-7 {
    width: 55%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px 15px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-8 {
    width: 66.66%;
    padding: 0 80px 0 0;
  }

  .col-lg-7 {
    width: 58.33%;
    padding-top: 0;
    padding-right: 30px;
  }

  .col-lg-6 {
    width: 60%;
    float: left;
    padding-top: 0;
  }

  .col-lg-5 {
    width: 41.66%;
    float: left;
    padding: 0 0 0 20px;
  }

  .col-lg-4 {
    width: 33.33%;
    padding: 0 80px 0 0;
  }

  .col-lg-skills {
    padding: 0;
    margin: 0;
  }

  .row-lg-skills {
    width: 100%;
    text-align: left;
    padding: 0;
    padding-bottom: 10px;
  }
}
