/*
Colors used:
Hex#8140A2
Hex#d75e60
Hex#4d5bee
*/
/*
Fonts and headings
*/

body {background-color: white;
font-family: 'Livvic', sans-serif;
font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color:#A9A9A9;
  text-align: left;
  padding: 25px
}
.bold {
  font-weight: 700;
}
h1,
h2,
h3,
h4 {
  line-height: 1.4;
  }

  h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
  color:#000000
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: left;
  color:#000000
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  text-align: left;
  color:#000000
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
  text-align: left;
  color:#000000
}

/*
buttons and links
*/
a {
  background-color: inherit;
  color: ##1751d9;
  text-decoration: none;
}

a:visited {
  background-color: inherit;
  color: #4E2C3C;
  text-decoration: none;
}

a:hover,
a:focus {
  background-color: inherit;
  color: ##1751d9;
  text-decoration: underline;
}

a:active {
  background-color: inherit;
  color: #333;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #D8BFD8;
  color: #white	 !important;
  font-weight: 400;
  padding: 15px 30px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.2s opacity;
}

.button:hover{
  color: inherit;
  background-color: #1751d9;
  opacity: 0.8;
  text-decoration: none;
}
.button:active {
  background-color: #1751D9;
  color: #FFF;
  opacity: 0.8;
}

.button-skype {
  display: inline-block;
  background-color: transparent;
  color: #006994 !important;
  padding: 15px 30px;
  border-radius: 50px;color: #1751D9
  text-transform: uppercase;
  border: 2px solid #006994;
}

.button-skype:hover {
  background-color: #006994;
  color: #fff !important;
}

.button-skype:active {
  background-color: #006994;
  color: #0000;
}
/*
layout styling-general
*/
img {width: 100%}
.logo{max-height: 90px;
  max-width: 90px;
padding: 25px}

.profilepic{width:50%;
max-height: 15%}
